VITE_ENABLE_MOCKS=true
VITE_API_URL=http://localhost:8080
# VITE_KAKAO_LOGIN_URL=http://localhost:8080/oauth2/authorization/kakao
# VITE_GOOGLE_LOGIN_URL=http://localhost:8080/oauth2/authorization/google
